extend template

block content
  h1 About this course

  ol
    li Introduction to HTML
    li Show how to create HTML elements
    li How to create HTML layout
    li Introduction to CSS
    li How to add CSS
    li CSS Competition

  h1 Introduction to front-end development

  p Front-end developers concentrate on the visual aspect of the web. We manipulate HTML, CSS, JavaScript and media items like video and images.
  ul 
    li HTML is the skeleton and body
    li CSS is the clothes and haircut and super cool earring
    li JavaScript is the funky dance moves

  h1 Introduction to HTML

  ul
    li HTML stands for Hyper Text Markup Language
    li HTML tags describe different parts of a web page
    li All HTML documents must start with a doctype declaration
    li The HTML document itself begins with  html tag and ends with a html tag
    li The visible part of the HTML document is between the body tags
    li The head hosts the information about the website but is not visual


  h1 What is HTML5

  ul 
    li In principle it is just the latest universal version of HTML
    li In reality it is a revolution
    li Many more new elements
    li Lot's of cool  API features like Geolocation, Drap and drop, local storage
    li relaxing the rules, much more flexible
