extend template

block content
  h1 Basic HTML structure

  iframe(src='https://trinket.io/embed/html/21652750a5', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')
  ul
    li Doctype
    li HTML tag
    li Head
    li Body

  h2 Doctype

  p The Doctype is not a HTML tag, it simply is there to tell the browser what version of HTML is being used.
  p The Doctype must be the first thing on a web page.
  p Use to be quite a complecated declaration, version, type, language etc. Now it is a simple declaration that this is HTML5.


  h2 Head, Body

  h3 Head

  ul
    li The head contains content that describes the webpage i.e. Title, metadata.
    li It also contains styling and script.
    li Anything in the head does not display on the page.

  h3 Body

  p The body element contains all the contents of an HTML document, such as text, hyperlinks, images, tables, lists, etc.

