extend template

block content
  h1 HTML layout

  p Websites often display content in multiple columns or rows which is not unlike a newspaper or a magazine.

  p The DIV element is often used as a layout tool, because it can easily be positioned with CSS.

  p HTML5 provided a whole host of new layout based tags that describe the content. 
    | For our introduction I just want to concentrate on the DIV for holding groups of content.

  iframe(src='https://trinket.io/embed/html/7c0dcd17b1', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')


