extend template

block content
  h1 CSS dimensions

  p The CSS dimension properties allow you to control the height and width of an element.

  ol
    li height
    li max-height
    li min-height
    li width
    li max-width
    li min-width

  iframe(src='https://trinket.io/embed/html/c32ec9f876', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Padding and Margin

  P The CSS padding properties define the space between the element border and the element content.

  p The CSS margin properties define the space around elements.

  p Margin adds space outside of element, padding inside the element.

  iframe(src='https://trinket.io/embed/html/8aa2a73d89', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Display and Float

  p The display property specifies if/how an element is displayed.

  p The float property specifies whether or not an element should float. It is the easiest way to position an element left or right.

  iframe(src='https://trinket.io/embed/html/19b24ea8d5', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Position

  p The position property specifies the type of positioning method used for an element.

  p You manipulate the position using top, left, right, bottom.

  p Types of positioning:
  ul
    li static
    li relative
    li fixed
    li absolute

  iframe(src='https://trinket.io/embed/html/1be2f745e4', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')
