extend template

block content
  h1 CSS selectors

  p CSS selectors allow you to select and manipulate HTML elements.

  p CSS selectors are used to "find" (or select) HTML elements based on their id, class, type, attribute, and more.

  ol
    li element selector
    li id selector
    li class selector
    li grouping of selectors

  iframe(src='https://trinket.io/embed/html/c32ec9f876', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Text CSS

  ul
    li Color
    li Text-align
    li Text-transform
    li Text-indent
    li Font-size
    li Font-family

  p 
    a(href='http://www.w3schools.com/cssref/css_websafe_fonts.asp', target='_blank') Web safe fonts to use

  iframe(src='https://trinket.io/embed/html/853701583a', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Border

  p Manipulating the border comes in three parts, the border width, border type and border color.
  p Individual borders can be changed for example border-left will apply a border just to the left hand side and border: will put a border around all of it.

  iframe(src='https://trinket.io/embed/html/a8480cef03', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Backgrounds

  p CSS background properties are used to define the background effects of an element.

  p CSS properties used for background effects:

  ul
    li background-color
    li background-image
    li background-repeat
    li background-attachment
    li background-position

  iframe(src='https://trinket.io/embed/html/814c6d8510', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')
