extend template

block content
  h1 CSS Introduction

  ul
    li CSS stands for Cascading Style Sheets
    li CSS defines how HTML elements are to be displayed
    li The name Cascading Style Sheets is important in describing how it works
    li You can add classes on practically any HTML element, the further down the cascade will override 
      | the previous declaration.

  p 
    a(href='http://www.wsjplus.com/explore', target="_blank") WSJ plus example

  h2 CSS syntax

  p A CSS rule set consists of a selector and a declaration block
  p The selector points to the HTML element you want to style.

  p The declaration block contains one or more declarations separated by semicolons.

  p Each declaration includes a property name and a value, separated by a colon.

  p 
    a(href='http://media.mediatemple.netdna-cdn.com/wp-content/uploads/images/css3-cheat-sheet/preview.gif', target='_blank') Cheat sheet for CSS syntax

  iframe(src='https://trinket.io/embed/html/51f8ef51ba', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Inserting CSS

  p There are three ways of inserting a style sheet:

  ul
    li External style sheet
    li Internal style sheet
    li Inline style

  iframe(src='https://trinket.io/embed/html/32701cc2f2', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')
