extend template

block content
  h1 HTML elements

  p HTML elements are written with a start tag, with an end tag, with the content in between.
  p Some are self closing tags but it is rare. The most important one is the image tag.

  iframe(src='https://trinket.io/embed/html/87c8336908', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h1 HTML attributes

  p Attributes provide additional information about an element.
  p Some HTML elements require certain attributes for them to function. A good example will be 
    | the image tag that needs a src attrivbute to describe the location of the file.
  p Attributes are always specified in the start tag.
  ul
    li HREF for link destination.
    li SRC for file location.
    li ALT is the alternative description of an image.
    li LANG describes the language of a block of code
    li WIDTH and HEIGHT means you can describe the size of an attribute.

  h2 Headings

  p h1 defines the most important heading. h6 defines the least important heading.

  iframe(src='https://trinket.io/embed/html/60ff912dd3', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Paragraphs and lists

  p P tag is standard way adding blocks of sentences.

  p List tags neatly display groups of content that are linked together.

  p ordered lists add a number infront of the point.

  p unordered lists add a bullet point before hand.


  iframe(src='https://trinket.io/embed/html/97c6647b88', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Links

  p HTML links are hyperlinks.

  p A hyperlink is a text or an image you can click on, and jump to another document.

  p The href attribute specifies the destination address (http://www.w3schools.com/html/)

  p The link text is the visible part (Visit our HTML tutorial).

  p Clicking on the link text, will send you to the specified address.

  p Links can also be local, meaning relative to the page you are on (href='/otherpage.html')

  iframe(src='https://trinket.io/embed/html/ed8360face', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Images

  p The IMG tag is empty, it contains attributes only, and does not have a closing tag.

  p The src attribute specifies the URL (web address) of the image.

  iframe(src='https://trinket.io/embed/html/7ed8e3623f', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

  h2 Text formatting

  p Formatting elements were designed to display special types of text.

  ul 
    li Bold text
    li Emphasized text
    li Small text
    li Subscripts
    li Superscripts

  iframe(src='https://trinket.io/embed/html/69dc20724b', width='100%', height='400', frameborder='0', marginwidth='0', marginheight='0', allowfullscreen='')

