.container
  margin 0 auto
  max-width 900px

// REMOVE FROM DOCUMENT
// Only use if content has no SEO / Accessibility value

.hidden
  display none !important

// VISUALLY HIDE
// Still accessible to screen-readers/bots

.vhidden
  position absolute
  clip rect(1px, 1px, 1px, 1px)
  overflow hidden
  height 1px
  width 1px
  padding 0
  margin 0
  border 0

iframe
  display block
  margin-bottom 50px

.main-content__container
  font-family $base--font-body
  background $color--light-grey
  padding 40px 30px
