$color--blue  = #0c73b8
$color--light-blue = #30a9dc
$color--black = #222
$color--grey  = #424646
$color--light-grey  = #ecedee
$color--white = #fff
$color--orange = #e55126
$color--light-orange = #f1672c

$font--droid   = 'Droid Serif', serif
$font--arial   = Arial, Helvetica, sans-serif

$grid--gutter = 2em

$base--font-heading = $font--droid
$base--font-body    = $font--droid
$base--font-color   = $color--black
$base--font-size    = 18px
$base--line-height  = 1.5
$base--spacing      = ($base--line-height)em
$base--body-bg      = $color--white
